@charset "utf-8";

/* VERSÃO TABLET */

@media screen and (min-width: 800px) and (max-width:3000px) {
    body {
        flex-direction: row;
    }

    div {
        display: flex;
        max-width: 70vw;
    }
    

}