@charset "utf-8";

*
{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    background-image: linear-gradient(to bottom , rgb(194, 255, 235 ), rgb(131, 3, 93));
}

div {
    background-color:  rgb(194, 255, 235) ;
    border-radius: 20px;
    padding-bottom: 20px;
    box-shadow: 1px 1px 5px black;
}

header {
    width: 50vw;
    text-align: center;
    width: 60vw;
}

img {
    height: 30vh;
    width: 60vw;
    padding-bottom: 20px;
    border-radius: 20px 20px 0 0;
}

main {
    width: 50vw;
    text-align:center;;
    width: 60vw;
}

form {
    margin: 20px 0;
}

input{
    border: none;
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
    width: 70%;
    height: 30px;
}

#enviar , #esqueci-senha{
    color: white;
    background-color:  rgb(170, 6, 121) ;
    border: none;
    width: 70%;
    padding: 5px;
    border-radius: 5px;
}



